@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#sidebar{

	position: fixed;
	width: 20%;
	height: 100%;
	left: -20%;
	background: transparent;
}

#sidebar li.btn{
	color: black;
	padding: 13px 8px;
	text-shadow: 1px 3px 2px black;
	font-family: 'Press Start 2P', Times New Roman ;	
	text-align: center;
}

.toggle-btn{
	position: absolute;
	left: 105%;
	top: 15px;
}

.toggle-btn span{
	display: block;
	background-color: black;
	width: 30px;
	height: 5px;
	margin: 3px;
}


#sidebar.active{
	left: 0%;
	transition: 0.3 ease-in-out;
}

header nav.menu-nav ul li.btn{
		list-style-type: none ;
		/* text-align: center;
		display: inline-block; */
		padding: 13px 8px;
		text-shadow: 1px 3px 2px black;
		color: white;
		font-family: 'Press Start 2P', Times New Roman ;	
	}

header nav.menu-nav ul li.btn:hover a{
	opacity: 0.5;
	transform: scale(1.05);
	transition: 0.3 ease-in-out;
}

header nav.menu-nav {
	list-style-type: none ;
	padding: 10;
	overflow: hidden;
	position: fixed;
	width: 100%;
	opacity: 0.9;
	text-shadow: 1px 3px 2px black;
}

h1{
	font-family: 'Press Start 2P', Times New Roman ;
	color: darkblue;
	padding: 30;
	text-align: center;
	font-size: 3em;
	text-shadow: 1px 3px 2px black /*(largeur, décalage, opacité, couleur)*/;
}

/*******IMAGE DE FOND ********/

/*#mainimg{
  background: url(../img/AnJ.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  height: 200px;
}*/

body{
	font-family: 'Advent Pro', sans-serif;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to top, black, #F8D03E  ) ;
	overflow-x: hidden;
}


nav.projets li{
	font-family: 'Press Start 2P', Times New Roman;
	padding: 10;
	text-align: center;
	font-size: 1.5em;
	text-shadow: 1px 3px 2px black;
	font-style: bold;
	color: white;
	list-style-type: none;
}

nav.projets li.projetscan:hover{
	color: white;
	opacity: 0.5;
	transform: scale(1.09);
	transition: 0.9 ease-in-out;
}

h2{
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', Times New Roman ;
	text-shadow: 1px 3px 2px black;
}

p{
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', Times New Roman ;
	text-shadow: 1px 3px 2px black;
}

#premiertrait{
	height: 2px;
	width: 50%;
	margin: -3px auto;
	background-color: #fff;
	box-shadow: 1px 3px 2px black;
}

a{
	text-decoration: none;
	color: black;
}

#deuxiemetrait{
	height: 2px;
	width: 50%;
	margin: 3px auto;
	background-color: #fff;
	box-shadow: 1px 3px 2px black;
}

#troisiemetrait{
	height: 2px;
	width: 50%;
	margin: 3px auto;
	background-color: #fff;
	box-shadow: 1px 3px 2px black;
}

footer{
	text-align: center;
	display: inline-block;
	padding: 0px ;
	width: 100%;
	text-shadow: 1px 1px 1px black;
	font-family: 'Press Start 2P', Times New Roman ;
}

#copyright{
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}